$copy-color: #d6d7d9;
$link-color: #fffa4d;
$blue: #74e9c2;
$red: #f35656;
$green: #75cf50;
$yellow: #f6f080;


$heading-font: 'Arvo', Georgia, serif;
$copy-font: 'Cabin', Arial, Helvetica, sans-serif;

$break-small: 481px;