@import "compass";
@import "variables";
@import "fonts";
@import "icons";


*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  background: url(../images/bg-body.png);
  color: $copy-color;
  font: 18px $copy-font;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: normal;
}

a {
  @include transition(all 0.2s ease-in-out);
  color: darken($link-color, 10%);
  text-decoration: none;

  &:hover {
    color: darken($link-color, 20%);
  }
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
  margin-top: 0;

  &:before {
    color: $red;
    content: "{";
    display: inline-block;
    margin-right: 30px;
  }

  @media screen and (min-width: $break-small) {
    font-size: 48px;
  }
}


// Header

.primary-header {
  @include box-shadow(0 6px 20px 0 rgba(#000, 0.2));
  background: url(../images/bg-header.jpg) no-repeat fixed;
  background-size: contain;
  border-bottom: 1px solid #111;
  padding: 50px 0;
  text-align: center;
  height: inherit;
}

.header-interior {
  position: absolute; bottom: 0;
  width: 100%;

  @media screen and (min-width: $break-small) {
    bottom: 4%;
  }
}

.site-title {
  color: $link-color;
  display: block;
  margin: 0 0 50px;
}

.profession {
  color: $copy-color;
  display: block;
  font: 24px $copy-font;
}


// Primary Navigation

.primary-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    border-left: 1px solid rgba(255,255,255,0.05);
    display: block;
    float: left;
    width: 33%;

    &:first-child {
      border: none;
    }

    @media screen and (min-width: $break-small) {
      border: none;
      display: inline-block;
      float: none;
      margin: 20px;
      width: auto;
    }
  }

  a {
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 15px;

    &:before {
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      vertical-align: -10%;
      width: auto;
    }

    &:hover {
      background: rgba(0,0,0,0.8);
    }

    @media screen and (min-width: $break-small) {
      @include border-radius(5px);
      display: inline;

      &:before {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
}


// Main

.primary-content {
  margin: auto;
  padding: 0 15px;
  max-width: 1000px;

  h2 {
    text-align: left;
  }

  p {
    line-height: 1.5;
  }

  @media screen and (min-width: $break-small) {
    padding: 0;
  }
}


// About

.about-me {
  padding: 100px 0;
}

.about-photo {
  display: none;

  @media screen and (min-width: $break-small) {
    @include border-radius(25px);
    display: block;
    float: right;
    margin-left: 50px;
  }
}


// Portfolio

.portfolio {
  padding: 100px 0;
  text-align: center;
}

.portfolio-item {
  display: inline-block;
  margin: 10px;

  img {
    max-width: 100%;

    @media screen and (min-width: $break-small) {
      max-width: 300px;
    }
  }
}


// Footer

.primary-footer {
  margin: auto;
  max-width: 1000px;
  padding: 100px 15px;

  @media screen and (min-width: $break-small) {
    padding-left: 0;
    padding-right: 0;
  }
}

.social-links {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 20px 0;

    &:first-child {
      display: block;

      a {
        font-size: 18px;
      }
    }
  }

  a {
    color: #fff;
    font-size: 0;

    &:before {
      color: $link-color;
    }
  }

  @media screen and (min-width: $break-small) {
    text-align: left;

    li {
      display: block;
    }

    a {
      font-size: 16px;
    }
  }
}