@import "compass";
@import "variables";
@import "fonts";


*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  background: url(../images/bg-body.png);
  color: $copy-color;
  font-family: $copy-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: normal;
}

a {
  color: $link-color;
  text-decoration: none;
}


// Header

.primary-header {
  text-align: center;
}

.site-title {
  display: block;
}

.profession {
  display: block;
  font-size: 16px;
}


// Primary Navigation

.primary-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 7px;
  }
}


// Main

.primary-content {
  margin: auto;
  max-width: 500px;
}


// Social Links

.social-links {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
  }
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'portfolio-icons';
  speak: none;
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-indent: -9999px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    
  }
}

.icon-github:before {
  content: "\e600";
}

.icon-linkedin:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e602";
}

.icon-facebook:before {
  content: "\e603";
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'icons';
        src: url('fonts/icons.svg#icons') format('svg');
    }
}